
a {
	text-decoration: none;
	/*color: #9C9A9A;*/
}

a:hover {
	text-decoration: underline;
}

#menu-wrapper {
	width: 1000px;
	height: 60px;
	margin: 0px 0px 10px auto;
	padding: 0px;
	color: #000000;
}

#menu {
	margin: 0px 0px 0px auto;
	padding: 20px 0px;
	list-style: none;
	line-height: 70px;
	text-decoration: none;
	font: normal 13px 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

#menu li {
	float: left;
	margin-right: 5px;
}

#menu a {
	display: block;
	float: left;
	padding:10px 0px 5px 0px;
	height: 30px;
	margin: -5px;
	color: #FFFFFF;
}

#menu .current_page_item a {
	/*background: #FF9900;*/
}

#menu a:hover {
	background: #FF9900;
	text-decoration: none;
	color: #FFFFFF;
}

#menu span {
	padding: 5px 25px;
}

#menu > li {
}

#menu > li.active {
	/*background: #FF9900;*/
	color: #FFFFFF;
}

.dropotron li.opener {
	border-right: solid 2px #FFFFFF;
}

.dropotron {
	margin: 7px -5px;
	padding: 10px 0px;
	background-color:#333333;
	list-style: none;
	font: normal 12px 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
}

.dropotron a {

	color: #fff;
	text-decoration: none;
}

.dropotron li {
	margin: 0px;
	padding: 8px 15px;
	
}

.dropotron li:hover, .dropotron li.active {
	background: #FF9900;
}
